@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	background: rgb(0, 0, 0);
	overflow-y: scroll;
}

.end-message {
	margin: 15px 20px 20px 20px;
	font-weight: 500;
}

.App {
	width: calc(100vw - 17px);
}

.container {
	max-width: 1600px;
	margin: auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-rows: minmax(350px, auto);
	grid-auto-flow: row;
}

.img-container:nth-child(5n + 1) {
	grid-column: auto / span 2;
}

.img-container > .image {
	width: 100%;
	height: 100%;
	max-height: 500px;
	object-fit: cover;
	background: rgb(27, 27, 27);
}

/* mobile devices */
@media only screen and (max-width: 720px), (max-width: 1024px), (hover: none) {
	.img-container:nth-child(5n + 1) {
		grid-column: auto;
	}
}

@media only screen and (hover: none) {
	.App {
		width: 100vw;
	}
}

/* iPhone 5 / SE */
@media only screen and (max-width: 320px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-auto-rows: minmax(350px, auto);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: rgb(0, 0, 0);
	}

	.end-message {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: rgb(255, 255, 255);
	}

	.end-message {
		color: black;
	}
}
