@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

body {
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
}

h5 {
  font-weight: 500;
}

.App {
  max-width: 1500px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(350px, auto);
  grid-auto-flow: row;
}

.img-container:nth-child(5n + 1) {
  grid-column: auto / span 2;
}

.img-container > .image {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  background: rgb(233, 233, 233);
}

/* mobile devices */
@media only screen and (max-width: 720px) {
  body {
    margin: 0;
  }

  .container {
    grid-gap: 0;
  }

  .img-container:nth-child(5n + 1) {
    grid-column: auto;
  }
}
