.img-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: 500px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

.details-container {
  display: flex;
  align-items: flex-end;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.719);
  transition: opacity 0.5s ease;
}

.details {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.username {
  max-width: 65%;
  text-align: left;
  word-wrap: break-word;
  padding: 0;
  margin-left: 5px;
  opacity: 0;
  color: white;
  transition: opacity 0.5s ease;
}

.img-container:hover > .details-container {
  opacity: 1;
}

.details-container:hover > .details .username {
  opacity: 1;
}

.profile-image {
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}

.material-icons {
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-size: 24px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.material-icons:hover {
  background: rgba(255, 255, 255, 0.25);
}

.username a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.username a:hover {
  text-decoration: underline;
}

/* mobile devices */
@media only screen and (max-width: 720px) {
  .details-container {
    opacity: 1;
    background: rgba(0, 0, 0, 0);
  }

  .details {
    backdrop-filter: blur(2px) brightness(90%);
    /* filter: blur(12px); */
  }

  .username {
    opacity: 1;
  }

  .material-icons:hover {
    background: rgba(255, 255, 255, 0);
  }
}
